[user]
    name = Volodymyr Masliy
    email = thebestvova@gmail.com

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig_include
[pager]
    branch = true
[core]
    editor = nvim
[pull]
    rebase = true
[alias]
    co = checkout
    st = status
    poh = push origin HEAD
    br = branch
    fa = fetch --all
    dfs = diff --staged
    df = diff
    sw = switch
