[user]
    name = Volodymyr Masliy
    email = thebestvova@gmail.com

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig_include
[pager]
    branch = true
[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-style = file line-number syntax 
	features = platypus

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3

[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
    tool = nvimdiff
    colorMoved = default

[pull]
    rebase = true
[alias]
    co = checkout
    st = status
    poh = push origin HEAD
    br = branch
    fa = fetch --all
    dfs = diff --staged
    df = diff
    sw = switch
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	date = local
[include]
	path = ~/delta-themes.gitconfig
